html {
  overflow-x: hidden;
}

body {
  margin: 0;
  color: $color--black;
}

button {
  cursor: pointer;
}

* {
  font-family: 'Montserrat', sans-serif;
}

a, button, input, textarea {
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  &:active {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

// Шрифты
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}


// Вспомогательные классы

// Тайтл
.title {
  font-size: 20px;
  line-height: 28px;
  margin: 5px 0;
}

// Чипс
.chip {
  color: $color--blue;
  background: $color--gray-light;
  padding: 6px 10px;
  margin-right: 8px;
  border-radius: 16px;
  font-size: $fs--mini;
  transition: $transition;

  &--blue {
    color: white;
    background: $color--blue;
  }

  &--outlined {
    color: $color--blue;
    border: 1px solid $color--blue;
    padding: 2px 8px;
    margin-right: 8px;
    border-radius: 16px;
    font-size: $fs--mini;
    transition: $transition;
  }
}

// Задний фон синяя иллююстрация
.background-blue-illustration {
  background-image: url('~/assets/images/background-blue-illustration.svg');
  background-size: cover;
  background-color: $color--blue;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: calc(100% - 2*#{$side-space-mobile});
  margin-left: auto !important;
  margin-right: auto !important;
  &--white {
    box-sizing: content-box !important;
    width: calc(100% - 2*#{$side-space-mobile});
    padding: $side-space-mobile;
    background-color: white;
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}