// Цвета
$color--blue: #004BFF;
$color--blue-light: #4a7bff;
$color--blue-dark: #00297b;
$color--background-white: white;
$color--black: #222222;
$color--gray-light: #f1f1f1;
$color--gray: #d0d0d0;
$color--gray-dark: #AAAAAA;
$color--red: red;

// Скорость ани
$transition: 0.15s;

// Высота хедера
$header-height: 60px;

// Боковые отсупления
$side-space-desktop: 25px;
$side-space-mobile: 16px;

// Максимальная ширина контенра
$max-width: 1200px;

// Размеры шрифтов
$fs--mini: 14px;
$fs--default: 16px;
$fs--title: 20px;
$fs--big-title: 24px;
