// Цвета
$color--blue: #004BFF;
$color--blue-light: #bbcefd;
$color--blue-dark: #00297b;
$color--background-white: white;
$color--black: #222222;
$color--gray-light: #efefef;
$color--gray: #d0d0d0;
$color--gray-dark: #868686;
$color--red: red;
$color--orange: orange;
$color--yellow: #dbdb2f;

// Скорость ани
$transition: 0.15s;

// Высота хедера
$header-height: 60px;

// Боковые отсупления
$side-space-desktop: 25px;
$side-space-mobile: 16px;

// Максимальная ширина контенра
$max-width: 1200px;

// Размеры шрифтов
$fs--nano: 12px;
$fs--mini: 14px;
$fs--default: 16px;
$fs--title: 20px;
$fs--big-title: 24px;
